<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publisher</title>
</head>
<body>
<h1>出版社列表</h1>
{#{{ all_publishers }}#}
<table>
    <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>出版社名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in all_publishers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td><a href="/publisher_del/?id={{ i.id }}">删除</a></td>
            <td><a href="/publisher_change/?id={{ i.id }}">修改</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>