<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{ name }}</p>
<p>{{ age }}</p>
<p>{{ my_dict }}</p>
<p>{{ my_dict.keys }}</p>
<p>{{ my_list }}</p>
<p>{{ my_set }}</p>
<p>{{ my_tuple }}</p>
<p>{{ person }}</p>
<p>{{ person.say_hi }}</p>

<br>

<p>{{ yasuo | default:'亚索永恩' }}</p>

<p>{{ 4|add:'2' }}</p>
<p>{{ 4|add:2 }}</p>
<p>{{ my_list|add:my_list }}</p>
<p>{{ name|upper }}</p>
<p>{{ my_list|add:my_list|length }}</p>
<p>{{ my_list|join:'___' }}</p>
{{ a }}
<br>
{{ a|safe }}

</body>
</html>